@model IEnumerable<Mango.Web.Models.ProductDto>

    <br /><br />
    <div class="container p-4 border">
        <div class="row pb-2">
            <div class="col">
                <h1 class="text-primary">Product List</h1>
            </div>
            <div class="col text-end pt-1">
                <a asp-action="create" class="btn btn-outline-primary">Create New Product</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category Namw</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Price.ToString("c")</td>
                    <td><a asp-action="Create" class="btn  btn-success" asp-route-productID="@item.ProductID">Edit</a></td>
                    <td><a  class="btn  btn-danger" onclick="deleteItem(@item.ProductID)">Delete</a></td>
                </tr>
            }
        </tbody>
        </table>
    </div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.4.js"></script>
<script type="text/javascript">
        
        function deleteItem(id) {
            debugger;
            $.ajax({
                type: "DELETE",
                url: '/Product/Delete?productID=' + id,
                data:  id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
        }

        function successFunc(data, status) {
            alert(data);
        }

        function errorFunc() {
            alert('error');
        }
</script>